     /*  import google fonts */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

  
  .section1 {
      position: relative;
      width: 100%;
      height: 100% ;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

     .video-container {
       position: relative;
       top: 0;
       left: 0;
       width:auto;
     }
     
     .color-overlay {
       position: absolute;
       top: 0;
       left: 0;
       background-color: rgb(143, 148, 150);
       width: 100%;
       height: 100%;
       opacity: 0.3;
     }

     /* Zig Zag*/
     .content-container {
        padding: 75px;
        overflow: hidden;
      }
      
      .col-container:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .column-one {
        float: left;
        width: 66.66666%;
        padding: 25px;
      }
      
      .column-two {
        float: left;
        width: 33.33333%;
        padding: 25px;
      }
      
      .l-font {
        font-size: 45px;
        color: #03071e;
      }
      
      .xl-font {
        font-size: 65px;
        color: #03071e;
      }
      
      .button {
        border: 5px solid #03071e;
        background-color: transparent;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        color: #03071e;
        font-weight: bold;
        transition: .2s;
      }
      
      .button:hover {
        background-color: #03071e;
        color: white;
      }
      
      img {
        display: block;
        height: auto;
        max-width: 100%;
      }
      
      @media screen and (max-width: 800px) {
        .column-one,
        .column-two {
          width: 100%;
          text-align: center;
        }
        img {
          margin: auto;
        }
      }

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

